@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;1,800&display=swap");

/* -------------------------------- */
/*      INTRODUCTION PAGE           */
/* -------------------------------- */

.main {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.962),
      rgba(3, 3, 3, 0.715)
    ),
    url("../public/aditi.jpg");
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw; */
}

.introduction {
  height: 100vh;
  width: fit-content;
  max-width: 796px;
  font-size: 7.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1.6;
  color: #8e8e74;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
}

.introduction > * {
  display: inline;
  margin-left: 10rem;
}

.helloTag {
  /* color: #231919; */
  color: #ffeef2c0;
  cursor: pointer;
  text-decoration: none;
}

.hello-tag1 {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  background: black;
  padding: 5rem 0;
  width: 100vw;
  max-width: 796px;
  margin: 0 auto;
}

.container > * {
  background-color: black;
}

.anchor-absolute {
  position: absolute;
  outline: 1px solid red;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.paragraph-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-work {
  background-color: black;
}

.flex-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* S T Y L E    F I X */
.container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  background: black;
  padding: 5rem 0;
  width: 100vw;
  max-width: 796px;
  margin: 0 auto;
}

.container > * {
  background-color: black;
}

.anchor-absolute {
  position: absolute;
  outline: 1px solid red;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.paragraph-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-work {
  background-color: black;
}

.flex-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* WORKING CSS */

.working-anchor::before {
  content: "HELLO.";
  display: inline-block;
  transition: transform 0.5s ease-out;
  color: white;
}

.working-anchor:hover::before {
  content: "ABOUT";
  transform: translateX(5%);
  color: rgb(227, 222, 222);
}

.working-anchor-1::before {
  content: "I AM";
  display: inline-block;
  transition: transform 0.5s ease-out;
  color: #71926b;
}

.working-anchor-1:hover::before {
  content: "WORK";

  transform: translateX(5%);
  color: #89b481;
}

.working-anchor-2::before {
  content: "ADITI";
  display: inline-block;
  transition: transform 0.4s ease-out;
  color: #71926b;
}

.working-anchor-2:hover::before {
  content: "CONTACT";

  transform: translateX(5%);
  color: #89b481;
}
.working-anchor,
.working-anchor-1,
.working-anchor-2 {
  opacity: 0;
  transform: translateY(50px);
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.working-anchor-1 {
  animation-delay: 0.6s;
}
.working-anchor-2 {
  animation-delay: 0.9s;
}
@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MEIDA QUERY */

@media screen and (max-width: 1100px) {
  .introduction {
    font-size: 6rem;
  }
  .introduction > * {
    display: inline;
    margin-left: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .introduction {
    font-size: 5.5rem;
  }
  .introduction > * {
    display: inline;
    margin-left: 4rem;
  }
}
@media screen and (max-width: 640px) {
  .introduction {
    font-size: 5rem;
  }

  .main {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.962),
        rgba(3, 3, 3, 0.449)
      ),
      url("../public/aditi.jpg");
    /* object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat; */
    /* width: 100vw; */
    background-position: right;

    /* .about-heading {
    letter-spacing: 0.5px;
  } */

    /* WHITE SPACE STARTS BEING CREATED AFRER 498px */
    /* @media screen and (max-width: 498px) {
    .about-heading {
      font-size: 4rem; */
    /* padding: 3rem; */
  }
}
@media screen and (max-width: 600px) {
  .introduction {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .main {
    background-position: left 60% center;
  }
}
@media screen and (max-width: 343px) {
  .introduction {
    font-size: 3.5rem;
  }
  .introduction > * {
    display: inline;
    margin-left: 4rem;
  }
  .main {
    background-position: left 100% center;
  }
}
