.working-anchor::before {
  content: "HELLO.";
  display: inline-block;
  transition: transform 0.5s ease-out;
  color: white;
}

.working-anchor:hover::before {
  content: "ABOUT";

  transform: translateX(5%);
  color: rgb(227, 222, 222);
}

.working-anchor-1::before {
  content: "I AM";
  display: inline-block;
  transition: transform 0.5s ease-out;
  color: #71926b;
}

.working-anchor-1:hover::before {
  content: "WORK";

  transform: translateX(5%);
  color: #89b481;
}

.working-anchor-2::before {
  content: "ADITI";
  display: inline-block;
  transition: transform 0.4s ease-out;
  color: #71926b;
}

.working-anchor-2:hover::before {
  content: "CONTACT";

  transform: translateX(5%);
  color: #89b481;
}
.working-anchor,
.working-anchor-1,
.working-anchor-2 {
  opacity: 0;
  transform: translateY(50px);
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.working-anchor-1 {
  animation-delay: 0.6s;
}
.working-anchor-2 {
  animation-delay: 0.9s;
}
@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.working-about-description {
  width: 100%;
  /* outline: 1px solid red; */
  margin: 0 auto !important;
  /* display: flex !important; */
  /* justify-content: space-around !important; */
  max-width: 90vw;
  gap: 4rem;
}

.working-image-div {
  flex-basis: 40vw;
}

.working-about-image {
  /* height: 50rem; */
  width: inherit;
  transform: translateY(-12%);
  width: 100%;
}

.working-about-section {
  flex-basis: 60vw;
}
